/* CSS Concerning Spenser Burlager */

/* background-image: url("../images/spencouch.jpg"); */

/* ================================= 
  Elements
==================================== */
*{
    box-sizing: border-box;
}
body {
    background-color: palegoldenrod;
    text-align: center;
}
/* ================================= 
  Class Selectors
==================================== */
.name a,
.main_nav a{
    padding: 10px 10px;
    display: block;
}

.main_header {
    text-align: center;
    background-color: aquamarine;
    padding: .5em;
}
.about_me {
    background-color: white;
}
.feature_blog {
    background-color: white;
}
.feature_recipe {
    background-color: white;
}

.feature_recipe ul{
    list-style: none;
    
}
.contact_me {
    text-align: center;
    background: white;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Pinterest */
.fa-pinterest {
    background: #55ACEE;
    color: white;
}
/* Instagram */
.fa-instagram {
    background: #55ACEE;
    color: white;
}
/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.main_footer{
    text-align: center;
    background-color: aquamarine;
    margin-top: 1em;
}
.container{
   padding-left: 1em;
   padding-right: 1em;
   border: #55ACEE
}

/* ================================= 
  Media Query
==================================== */

@media (min-width: 769px){
    .wrap {
        max-height: calc(100vh - 18.29px);
    }
    .container{
        text-align: left;
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
    }
    .name,
    .main_nav li{
    display: inline-block
    }
    .col {
       display: inline-block;
    }
}