/* CSS Concerning Spenser Burlager */

/* ================================= 
  Elements
==================================== */
*{
    box-sizing: border-box;
}

/* ================================= 
  Class Selectors
==================================== */
.name a,
.main_nav a{
    padding: 10px 10px;
    display: block;
}

.main_header {
    text-align: center;
    background-color: aquamarine;
    padding: .5em;
}
.about_me {
    text-align: center;
}
.feature_blog {
    text-align: center;
}
.contact {
    text-align: center;
}
.main_footer{
    text-align: center;
    background-color: aquamarine;
}
.container{
   padding-left: 1em;
   padding-right: 1em;
}

/* ================================= 
  Media Query
==================================== */

@media (min-width: 769px){
    .wrap {
        min-height: calc(100vh - 18.29px);
    }
    .container{
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
    }
    .name,
    .main_nav li{
    display: inline-block
    }

}