/* CSS Concerning Spenser Burlager */

/* background-image: url("../images/spencouch.jpg");*/

/* ================================= 
___________.__                                __          
\_   _____/|  |   ____   _____   ____   _____/  |_  ______
 |    __)_ |  | _/ __ \ /     \_/ __ \ /    \   __\/  ___/
 |        \|  |_\  ___/|  Y Y  \  ___/|   |  \  |  \___ \ 
/_______  /|____/\___  >__|_|  /\___  >___|  /__| /____  >
        \/           \/      \/     \/     \/          \/ 
  ==================================== */
*{
    box-sizing: border-box;
}
a{
    color: white;
    box-shadow: 0px 1px 5px white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    box-shadow: none;
}
body {
    background-color: white;
    text-align: center;
}
/* ================================= 
    _________      .__                 __                                      /\         .__                        
 /   _____/ ____ |  |   ____   _____/  |_  ___________  ______ __  _  __    / /    ____ |  | _____    ______ ______
 \_____  \_/ __ \|  | _/ __ \_/ ___\   __\/  _ \_  __ \/  ___/ \ \/ \/ /   / /   _/ ___\|  | \__  \  /  ___//  ___/
 /        \  ___/|  |_\  ___/\  \___|  | (  <_> )  | \/\___ \   \     /   / /    \  \___|  |__/ __ \_\___ \ \___ \ 
/_______  /\___  >____/\___  >\___  >__|  \____/|__|  /____  >   \/\_/   / /      \___  >____(____  /____  >____  >
        \/     \/          \/     \/                       \/            \/           \/          \/     \/     \/ 
==================================== */
.name{
    font-size: 2em;
    margin:0;
}
.name a,
.main_nav a{
    padding: 4px 4px;
    display: block;
}
.main_nav li{
    list-style-type: none;
}
.main_header {
    text-align: center;
    background-color: blanchedalmond;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    padding: .5em;
}
.about_me {
    background-color:blanchedalmond;
    border: 1px solid aquamarine;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    padding: 15px;
    
}
.feature_blog {
    background-color: white;
}
.feature_recipe {
    background-color: white;
}
    .directions{
        background-color: blanchedalmond;
        box-shadow: 0 1px 4px rgba(0,0,0,.4);
        padding: 10px;
        color: white;
    }
    .ingredients{
        background-color: blanchedalmond;
        box-shadow: 0 1px 4px rgba(0,0,0,.4);
        padding: 10px;
        color: white;
    }
.feature_recipe ul{
    list-style: none;
    
}
.connect {
    text-align: center;
    background: blanchedalmond;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    color: white;
    padding: 15px;
}
.form_subscribe{
    text-align: center;
    background: blanchedalmond;
    color: white;
    padding: 15px;
    margin-top: 25px;
}
.main_footer{
    text-align: center;
    background-color: blanchedalmond;
    color: white;
    margin-top: 1em;
}
.container{
   padding-left: 1em;
   padding-right: 1em;
   border: #55ACEE
}

/* ================================= 
  _________             .__       .__       _____             .___.__        
 /   _____/ ____   ____ |__|____  |  |     /     \   ____   __| _/|__|____   
 \_____  \ /  _ \_/ ___\|  \__  \ |  |    /  \ /  \_/ __ \ / __ | |  \__  \  
 /        (  <_> )  \___|  |/ __ \|  |__ /    Y    \  ___// /_/ | |  |/ __ \_
/_______  /\____/ \___  >__(____  /____/ \____|__  /\___  >____ | |__(____  /
        \/            \/        \/               \/     \/     \/         \/ 
==================================== */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-pinterest {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: #55ACEE;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
/* ================================= 
 .----------------.  .----------------.  .----------------.  .----------------.  .----------------.   .----------------.  .----------------.  .----------------.  .----------------.  .----------------. 
| .--------------. || .--------------. || .--------------. || .--------------. || .--------------. | | .--------------. || .--------------. || .--------------. || .--------------. || .--------------. |
| | ____    ____ | || |  _________   | || |  ________    | || |     _____    | || |      __      | | | |    ___       | || | _____  _____ | || |  _________   | || |  _______     | || |  ____  ____  | |
| ||_   \  /   _|| || | |_   ___  |  | || | |_   ___ `.  | || |    |_   _|   | || |     /  \     | | | |  .'   '.     | || ||_   _||_   _|| || | |_   ___  |  | || | |_   __ \    | || | |_  _||_  _| | |
| |  |   \/   |  | || |   | |_  \_|  | || |   | |   `. \ | || |      | |     | || |    / /\ \    | | | | /  .-.  \    | || |  | |    | |  | || |   | |_  \_|  | || |   | |__) |   | || |   \ \  / /   | |
| |  | |\  /| |  | || |   |  _|  _   | || |   | |    | | | || |      | |     | || |   / ____ \   | | | | | |   | |    | || |  | '    ' |  | || |   |  _|  _   | || |   |  __ /    | || |    \ \/ /    | |
| | _| |_\/_| |_ | || |  _| |___/ |  | || |  _| |___.' / | || |     _| |_    | || | _/ /    \ \_ | | | | \  `-'  \_   | || |   \ `--' /   | || |  _| |___/ |  | || |  _| |  \ \_  | || |    _|  |_    | |
| ||_____||_____|| || | |_________|  | || | |________.'  | || |    |_____|   | || ||____|  |____|| | | |  `.___.\__|  | || |    `.__.'    | || | |_________|  | || | |____| |___| | || |   |______|   | |
| |              | || |              | || |              | || |              | || |              | | | |              | || |              | || |              | || |              | || |              | |
| '--------------' || '--------------' || '--------------' || '--------------' || '--------------' | | '--------------' || '--------------' || '--------------' || '--------------' || '--------------' |
 '----------------'  '----------------'  '----------------'  '----------------'  '----------------'   '----------------'  '----------------'  '----------------'  '----------------'  '----------------' 
==================================== */

@media (min-width: 769px){
    .main_header{
        position: fixed;
        background: blanchedalmond;
        width: 100%;
        top:0;
        z-index: 100;
    }
    
    .wrap {
        max-height: calc(100vh - 18.29px);
    }
       .container{
        text-align: left;
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
    }
    .name{
        float: left;
    }
    .main_nav{
        float: right;
    }
    .main_nav li{
        float: left;
        margin-left: 10px;

    }
    .col {
        display: inline-block;
        padding-left: 1em;
        padding-right: 1em;
     }
    .feature_blog{
        float: left;
        width: 49%;
    }
    .feature_recipe{
        float: right;
        width: 49%;
    }
    .connect{
       clear: both;
    }
}

/* Clearfix */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
    }

@media (min-width: 1025px){
    .container{
        width: 80%;
        max-width: 1150px;
    }

}